name: DeployStaging

on:
  push:
    branches:
      - staging
  schedule:
    - cron: '*/30 * * * *'

jobs:
  deploy:
    name: Deploy to blog.orchid.dev
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: staging
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Deploy to blog.orchid.dev
      run: |
        ./version.sh
        ./deploy.sh -s staging
